body {
    top: 30%;
    left: 50%;
    position: absolute;
    margin: -100px 0 0 -150px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    font-weight: 1000;
  }
  
  button {
    padding: 20px 60px;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
    border: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:first-child {
    background-color: green;
  }
  
  button:nth-child(2) {
    background-color: red;
  }
  
  div.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    margin-top: 30px;
  }